.DS_Store
node_modules
/.svelte-kit
/package
.env
.env.*
!.env.example
.vercel
.output
.github/workflows/main.yml
client/.svelte-kit/

client/node_modules/
.github/workflows/main.yml
client/.svelte-kit/ambient.d.ts
client/.svelte-kit/generated/client/app.js
client/.svelte-kit/generated/server/internal.js
client/client/.npmrc
client/node_modules/.vite/_svelte_metadata.json
client/node_modules/.vite/deps/_metadata.json
client/node_modules/.vite/deps/chunk-3WCIZBSR.js
client/node_modules/.vite/deps/chunk-3WCIZBSR.js.map
client/node_modules/.vite/deps/chunk-4B2ASC5P.js
client/node_modules/.vite/deps/chunk-4B2ASC5P.js.map
client/node_modules/.vite/deps/chunk-KTJLLKQH.js
client/node_modules/.vite/deps/chunk-KTJLLKQH.js.map
client/node_modules/.vite/deps/chunk-MDVVFZDV.js
client/node_modules/.vite/deps/chunk-MDVVFZDV.js.map
client/node_modules/.vite/deps/chunk-MP4S7VZV.js
client/node_modules/.vite/deps/chunk-MP4S7VZV.js.map
client/node_modules/.vite/deps/chunk-RMCPQKLK.js
client/node_modules/.vite/deps/chunk-RMCPQKLK.js.map
client/node_modules/.vite/deps/chunk-RVAV4ZRS.js
client/node_modules/.vite/deps/chunk-RVAV4ZRS.js.map
client/node_modules/.vite/deps/chunk-X4XZK27Q.js
client/node_modules/.vite/deps/chunk-X4XZK27Q.js.map
client/node_modules/.vite/deps/chunk-YERFD2CZ.js
client/node_modules/.vite/deps/chunk-YERFD2CZ.js.map
client/node_modules/.vite/deps/svelte.js
client/node_modules/.vite/deps/svelte_animate.js
client/node_modules/.vite/deps/svelte_animate.js.map
client/node_modules/.vite/deps/svelte_easing.js
client/node_modules/.vite/deps/svelte_events.js
client/node_modules/.vite/deps/svelte_internal.js.map
client/node_modules/.vite/deps/svelte_internal_client.js
client/node_modules/.vite/deps/svelte_internal_disclose-version.js.map
client/node_modules/.vite/deps/svelte_internal_flags_legacy.js
client/node_modules/.vite/deps/svelte_internal_flags_legacy.js.map
client/node_modules/.vite/deps/svelte_internal_flags_tracing.js
client/node_modules/.vite/deps/svelte_internal_flags_tracing.js.map
client/node_modules/.vite/deps/svelte_legacy.js
client/node_modules/.vite/deps/svelte_motion.js
client/node_modules/.vite/deps/svelte_motion.js.map
client/node_modules/.vite/deps/svelte_reactivity.js
client/node_modules/.vite/deps/svelte_reactivity_window.js
client/node_modules/.vite/deps/svelte_reactivity_window.js.map
client/node_modules/.vite/deps/svelte_store.js
client/node_modules/.vite/deps/svelte_store.js.map
client/node_modules/.vite/deps/svelte_transition.js
client/node_modules/.vite/deps/svelte_transition.js.map
